// Подключаем шрифты
@font-face {
  font-family: "Circular-Std-Book";
  src: url(./../../fonts/Circular-Std-Book.ttf);
}
@font-face {
  font-family: "Circular-Std-Medium";
  src: url(./../../fonts/Circular-Std-Medium.ttf);
}
@font-face {
  font-family: "Circular-Std-Bold";
  src: url(./../../fonts/Circular-Std-Bold.ttf);
}
//

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}
