.btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #181818;
  background-color: #181818;

  color: #ffffff;
  font-family: "Circular-Std-Book", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}

.btn-signup:hover,
.btn-signup:focus {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #b7b7b7;
}
